<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addNewDonorAction</servlet-name>
        <servlet-class>addNewDonorAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLoginAction</servlet-name>
        <servlet-class>adminLoginAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indexFormAction</servlet-name>
        <servlet-class>indexFormAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageStockAction</servlet-name>
        <servlet-class>manageStockAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateDonorAction</servlet-name>
        <servlet-class>updateDonorAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestForBloodDelete</servlet-name>
        <servlet-class>requestForBloodDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestForBloodDelete1</servlet-name>
        <servlet-class>requestForBloodDelete1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchform</servlet-name>
        <servlet-class>searchform</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addNewDonorAction</servlet-name>
        <url-pattern>/addNewDonorAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLoginAction</servlet-name>
        <url-pattern>/adminLoginAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indexFormAction</servlet-name>
        <url-pattern>/indexFormAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageStockAction</servlet-name>
        <url-pattern>/manageStockAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateDonorAction</servlet-name>
        <url-pattern>/updateDonorAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestForBloodDelete</servlet-name>
        <url-pattern>/requestForBloodDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestForBloodDelete1</servlet-name>
        <url-pattern>/requestForBloodDelete1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchform</servlet-name>
        <url-pattern>/searchform</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
